.nani {
  text-align: center;
  background-color: cyan;
}
a:hover {
  color: red;
}
.hontoka {
  width: 500px;
  border: 3px solid red;
  margin: 0 auto;
}
ul {
  font-size: 20px;
}
#test h1 + p{
  font-size: 20px;
}
.hontoka{
  padding: 20px;
 /* background-image: url(hehe.jpg);
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat; (example)*/
}
.hontoka div{
  display: inline-block;
  border:3px solid red;
  margin:4px;
}
#test{
  background-image: url(hehe.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
